@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayXXThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayXThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayThinItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayRomanItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayLightItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayXXThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayXThin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayThin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/assets/fonts/NeueHaas/NeueHaasDisplayBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/Circular/CircularStd-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/Circular/CircularStd-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/Circular/CircularStd-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/Circular/CircularStd-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/Circular/CircularStd-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/Circular/CircularStd-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/Circular/CircularStd-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/Circular/CircularStd-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('/assets/fonts/Circular/CircularStd-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}