#landing {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0.00) 100%), url("/assets/images/background.webp"), lightgray 50% / cover no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    min-height: 800px;
    margin: 0;
}

#landing #cta {
    margin-top: 2rem;
}

#landing #cta .btn {
    width: 200px;
}

section img {
    width: 890.268px;
    height: 1062.895px;
    box-shadow: 23px 20px 0px 0px #FFF;
}

section .content {
    height: 100%;
}

section .btn {
    width: 250px;
}

#what-do-we-do img {
    margin-right: 4rem;
}

#lodging {
    background: #0C0C0C;
    margin: 0;
}

#lodging img {
    margin-left: 4rem;
    margin-right: 2rem;
}

#what-do-we-do p {
    font-size: 1rem;
}

#map {
    box-shadow: 23px 20px 0px 0px #F52828;
    width: 100%;
    height: 400px;
    margin-right: 2rem;
}

#contact-items {
    width: 100%;
}

.contact-item {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.contact-item::before {
    position: absolute;
    content: '';
    background-color: var(--primary);
    height: 100%;
    width: 100%;
    max-width: 20px;
    left: -1rem;
    z-index: -1;
    transition: max-width 200ms;
}

.contact-item:hover::before {
    max-width: 70%;
}

.contact-item i {
    font-size: 3rem;
}

.contact-item p.title {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
}

.contact-item p.value {
    font-size: 2rem;
    margin: 0;
}

.contact-item .col {
    margin-left: 1rem;
}